%div
  / Kompostieren
  %h4 Elternkurse und Eltern-Kind-Kurse
  %p
    Einzelne Klassen oder ganze Schulhäuser können in Zusammenhang mit den Klassenkursen auch Elternkurse oder Eltern-Kind-Kurse besuchen. Damit möglichst viele Eltern an den Kursen teilnehmen können, finden diese meist an einem Samstagvormittag von 9.00 bis etwa 11.30 Uhr statt. Das Kursprogramm kann individuell zusammengestellt werden. Die Organisation und die Koordination sowie die Beschaffung des Budgets übernimmt Barbara Schumacher.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Projektleitung
          %td.middle
            %code.middle
              Barbara Schumacher in Zusammenarbeit mit Gemeinde und Schulleitung
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Projektziel
          %td.middle
            %code.middle
              Die Schüler/innen und Eltern erhalten ein vertieftes Wissen über die diversen Abfall- und 
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              Primarschule ohne Kindergärten
  .clear
  %hr.hr/