%div
  / Kompostieren
  %h4 Lehrerweiterbildung
  %p
    Die Lehrpersonen haben die Möglichkeit, z.B. vor der Durchführung diverser Abfall- und Umweltpädagogikkurse oder der Projektwoche, individuelle Weiterbildungskurse zu besuchen. Das Kursangebot wird auf Wunsch zusammengestellt.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher  und Birgit Gluth in Zusammenarbeit mit Schulleitung und Gemeinde
  .clear
  %hr.hr/