%div
  / Kompostieren
  %h4 Kompostieren, die Tierwelt im Kompost wird entdeckt
  %p
    Dieser Kurs vermittelt die Naturkreisläufe sowie die spannende Welt der Kleinlebewesen im Kompost und Boden. Warum ist es wichtig,
    dass kompostiert wird? Was gehört in den Kompost und was nicht? Was geschieht im Kompost mit den biogenen Abfällen? All diese
    Fragen werden erlebnisreich beantwortet. Die SchülerInnen lösen unterschiedliche Aufgaben und haben die Möglichkeit nach
    lebenden Komposttieren zu forschen.
  %br/
  #orders
    .column.nine.reset
      .orderTitle.column.three.reset
        %p Kursleitung
        %p Kursziel
        %p Kursdauer
        %p mögliche Kurstage
        %p Kursort
        %p Stufen
      .column.nine.reset.last
        %p Barbara Schumacher
        %p Die Schülerinnen kennen Kleinlebewesen + können sie anfassen.
        %p 2 oder 3 Std.
        %p Montag bis Donnerstag, ideal am Nachmittag
        %p Kindergarten, Schulzimmer, Areal Schulhaus
        %p KG bis 6. Primar
      .clear
    .column.three.reset.last
      = image_tag('kompost.png' )
  .clear
  %hr.hr/