%div
  / 1. Kompostieren
  %h4 Kompostieren und Recycling ‒ die Tierwelt im Kompost wird entdeckt
  %p
    Dieser Kurs vermittelt die Naturkreisläufe sowie die spannende Welt der Kleinlebewesen in Kompost und Boden. Warum ist es wichtig, dass kompostiert wird? Was gehört in den Kompost und was nicht? Was geschieht im Kompost mit den biogenen Abfällen? All diese Fragen werden erlebnisreich beantwortet. Die Schüler/innen lösen unterschiedliche Aufgaben und haben die Möglichkeit, nach lebenden Komposttieren zu forschen.
  %br/
  #orders
    .column.twelve.reset
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, warum Kompostieren wichtig ist und wo in der Schule und Gemeinde Abfälle recycelt werden können.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 oder 3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Kindergarten, Schulzimmer, Schulhausareal
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              KG bis 6. Primar + Hauswirtschaftsklassen
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 2. Kompostmobil
  %h4 Recycling und Kompostieren
  %p
    Im ersten Kursteil werden die vielen Recyclingmöglichkeiten praktisch erarbeitet. Hintergründe und Wichtigkeit des Recyclings sowie das Thema Ressourcenschonung werden vermittelt. Im Weiteren wird auch das Thema «Food-Waste» kurz behandelt. Im 2. Teil liegt der Schwerpunkt beim Thema Kompostieren und Grüngutentsorgung. Die Schüler/innen bekommen Teller mit Komposterde, in denen sie die Tiere suchen und bestimmen. Das Kennenlernen der Bodenlebewesen erzeugt auch einen vertieften Bezug zum Boden und zur Erde, was zur Folge hat, dass Littering auf dem Pausenplatz und in der Gemeinde reduziert werden kann.
  %br/
  #orders
    .column.twelve.reset
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, wo in der Schule und Gemeinde Abfälle recycelt werden können und			wie man Abfälle vermeiden kann.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 oder 3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Kindergarten oder Schulzimmer
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              KG bis 6. Primar + Hauswirtschaftsklassen
  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 3. Das Kompostmobil 
  %h4 Das Kompostmobil ‒ Kurse im mobilen Schulzimmer
  %p
    Spielend Kompostieren lernen, begreifen, wie der Naturkreislauf funktioniert, und staunen ob der Vielfalt der Bodentiere: Das sind die Hauptziele der Kompostmobileinsätze.
    %br/
    Die Schülerinnen und Schüler zerkleinern ihre mitgebrachten Küchenabfälle und lernen, wie ein Kompost fachgerecht gepflegt wird. Mit verschiedenen Angeboten rund um das Kompostmobil erfahren sie, wie Naturkreisläufe funktionieren und welche Materialien in den Kompost oder in andere Entsorgungswege gehören. Ein Abfallmemory, eine Recyclingstafette, der Schubkarrenhindernislauf oder das Kompostwunderrad bieten allen Altersstufen die Möglichkeit zum spielerischen Lernen. 
  %br/
  #orders
    .column.nine.reset
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen die drei Grundregeln des Kompostierens und können Kleinlebewesen anfassen.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 bis 4 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Areal Schulhaus
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              KG bis 6. Primar
        %tr
          %td.middle.orderTitle
            %code.middle
              Besonderes
          %td.middle
            %code.middle
              Mindestens 7 Klassen müssen je einen Kurs buchen.
    .column.three.reset.last
      = image_tag('offers/mobiler_kompost.png' )
  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 4. Umwelttheater
  %h4  Umwelttheater Figurenspiel 1: Kompostieren und Littering
  %p
    Rosa, die zerstreute Gärtnerin, ist vom Kompostieren restlos überzeugt und will, wo überall nur denkbar, einen Kompostplatz einrichten. Tschopmok, der Kompostkobolt, spielt ebenfalls eine Hauptrolle in diesem Abfalltheater. Mit diesem Figurenspiel werden den Kindern die Themen Kompostieren, Bodenlebewesen und Littering spannend und humorvoll näher gebracht. 
  %br/
  #orders
    .column.twelve.reset
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Birgit Gluth
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen mind. 2 Kompostlebewesen.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag, Dienstag, Donnerstag und Freitag am Morgen und am Nachmittag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Kindergarten oder Schulzimmer
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              Kindergarten, EK, 1. und 2. Klasse
  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 5. Mme Poubelle
  %h4  Figurenspiel Madame Poubelle und der kranke Abfallsack – Recycling und Abfallvermeidung
  %p
    Mme Poubelle macht mit ihrem übervollen Abfallsack einen Schulbesuch. Was wurde da wohl alles reingestopft? Als Mme Poubelle zusammen mit den Schülern/-innen den Sack untersucht bzw. daran «operiert», entdecken sie vieles, was da nicht hinein gehört. Wo werden alle die vielen Abfälle richtig entsorgt? Könnte man ihnen auch ein weiteres Leben schenken? So können Ressourcen geschont und Geld gespart werden.
    %br/
    Auf humorvolle und spielerische Art, werden die Themen Recycling und Abfallvermeidung stufengerecht vermittelt.
  %br/
  #orders
    .column.twelve.reset
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Doris Weiller
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, was wo entsorgt wird und kennen den Begriff «Recycling».
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag, Dienstag und Donnerstag sowie nach Absprache
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Kindergarten oder Schulzimmer
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              Kindergarten, EK, 1. und 2. Klasse
  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 6. Aufbau und Unterhalt eines Schulgartens
  %h4 Projekt Aufbau und Unterhalt eines Schulgartens
  %p
    Oft besteht in Schulen der Wunsch nach einem Schulgarten, oder ein nicht mehr genutzter Schulgarten ist vorhanden. In Zusammenarbeit mit den zuständigen Lehrpersonen, der Schulleitung und der Gemeinde übernimmt Barbara Schumacher die Projektleitung, und ein Konzept zur Gartenbetreuung und -bearbeitung wird erarbeitet, realisiert und punktuell begleitet. Im Schulgarten werden neben Früchten und Gemüsen auch Blumen gepflanzt, dies kann in Boden- oder Hochbeeten gemacht werden. Ein weiteres wichtiges Element dieses Projekts ist die Kompostierung der Znüniabfälle sowie der biogenen Abfälle aus dem Lehrerzimmer. Im Weiteren wird das Thema «Food-Waste» vermittelt.
  %br/
  #orders
    .column.twelve.reset
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Projektleitung
          %td.middle
            %code.middle
              Barbara Schumacher in Zusammenarbeit Lehrerschaft, Schulleitung und Gemeinde 
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher 
        %tr
          %td.middle.orderTitle
            %code.middle
              Projektziel
          %td.middle
            %code.middle
              Ein Schulgarten wird errichtet oder erneut aktiviert und mindestens 18 bis 24 Monate unterhalten.
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              Primarschule und Kindergärten 
  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 7. Aufbau und Unterhalt eines Schulgartens
  %h4  Recycling, Kompostieren und erneuerbare Energie durch Biomassenvergärung in Pratteln
  %p
    Recycling und die Wiederverwertung von (biogenen) Abfällen sowie unser Umgang mit Lebensmitteln sind die Kernthemen dieses erlebnisreichen Kurses. Auf dem Rundgang durch die Anlage in Pratteln können die Prozesse der Biomassenvergärung, Biogasgewinnung und das Kompostieren verfolgt werden. Im letzten Teil des Kurses wird das gewonnene Wissen mittels Experimenten vertieft.
  %br/
  #orders
    .column.twelve.reset
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher 
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurszeil
          %td.middle
            %code.middle
              Die Schüler/innen kennen diverse Recyclingmöglichkeiten und wissen, wie die Vergärung von biogenen Abfällen funktioniert.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              3,5 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Biopower Pratteln
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              4. bis 6. Primar und Oberstufe
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 8. Littering
  %h4 Littering in der Gemeinde und Naturkreisläufe im Wald
  %p
    Die Schüler/innen werden für die gelitterten Abfälle in der Gemeinde sensibilisiert. Die Zusammenhänge mit Bodenverschmutzung und der negativen Beeinflussung des Ökosystems im Boden werden stufengerecht vermittelt. Auf dem Weg vom Schulhaus zum Wald sind die Schüler/innen Abfalldetektive und werden so auf die Verschmutzung des öffentlichen Raums aufmerksam. Im Wald werden sie zu Bodenforschern/-innen und lösen Aufgaben zu den Themen Naturkreisläufe und Bodenlebewesen. Beim Znüni wird die Znüniverpackung in Bezug auf Abfallvermeidung diskutiert. 
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen 4 Gründe, warum Abfälle nicht in die Umwelt gehören und kennen die Naturkreisläufe im Wald.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              3,5 bis 4 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Schulhausareal, Gemeinde und Wald
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              1. bis 6. Primar
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 9. Erzähltheater
  %h4 Erzähltheater: Die Fee Wunderfitz ist dem Littering im Wald auf der Spur
  %p
    Mit dem Erzähltheater wird das Thema der achtlos weggeworfenen Abfälle im Wald auf spannende und geheimnisvolle Art vermittelt. Die Schüler/innen lernen, warum es der Umwelt schadet, wenn Abfälle in der Natur und im Speziellen im Wald entsorgt werden.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Birgit Gluth 
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen Gründe, warum Abfälle nicht in den Wald gehören.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2–3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Donnerstag und Freitag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Kindergarten oder Schulzimmer
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              Kindergarten, 1. Klasse, EK
  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 10. Schulmodul
  %h4 Schulmodul in der Kehrichtverwertung Basel (KVA) ‒ Schwerpunktthema: Abfallvermeidung
  %p
    Der Kurs mit Schwerpunkt Abfallvermeidung und Ressourcenschonung findet in der Kehrichtverwertungsanlage Basel (KVA) statt. Anhand von praktischen Beispielen werden den Schülern/-innen stufengerecht die Hauptabfallproblematiken wie Ressourcenverbrauch, Erdölverbrauch und Reststoffe aus der Abfallverbrennung und deren Endlagerung vermittelt.
    %br/
    Der lebhafte und beeindruckende Rundgang durch die Anlage ermöglicht einen vertieften Einblick in die Thematik. 
  %br/
  #orders
    .column.eight.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, warum es nötig ist, Abfall zu vermeiden.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 bis 3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag, vormittags
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              KVA Basel
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              ab 4. Primar und Oberstufe
    .column.three.reset.last
      = image_tag('offers/kehrichtverwertung.png' )
  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 11 Abfall im Schulalltag
  %h4 Abfall im Schulalltag – ein Morgen rund um alle Abfallthemen
  %p
    Abfallvermeidung und Energieeffizienz sind die wichtigsten Themen, wenn es um Ressourcenschonung und das Sparen von Energie und somit auch von Geld geht. Auch die Lebensmittelverschwendung und das Littering gehören zu diesen Themen. Dieser Kurs zeigt wie Verbesserungen im Schulalltag einfach umgesetzt werden können.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen mehrere Möglichkeiten der Abfallvermeidung und des Energiesparens.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              Ganzer Vormittag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Schulzimmer, Schulhaus und Umgebung
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              3. bis 6. Primar
  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 12 Tipps
  %h4 Tipps und Hintergründe zum täglichen Abfallvermeiden
  %p
    Jeden Tag produzieren wir alle zu viele Abfälle. Wie ist es möglich, diesen Abfall im (Schul-)Alltag zu reduzieren bzw. zu vermeiden? Die Schüler/innen bringen ihre Abfälle, die sie in den letzten drei Tagen verursacht haben, mit. Nasse oder unhygienische Abfälle werden nicht mitgenommen, sondern nur anhand von Notizen thematisiert. Mit einfachen Beispielen wird vermittelt, wie wir alle täglich Abfall vermeiden können und warum dies so wichtig ist.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen mehrere Möglichkeiten der Abfallvermeidung.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Im Schulzimmer
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              3. bis 6. Primar
        %tr
          %td.middle.orderTitle
            %code.middle
              Material
          %td.middle
            %code.middle
              Jede/r Schüler/in sammelt drei Tage lang ihre/seine verursachten Abfälle und bringt diese mit in den Kurs. Nasse und unhygienische Abfälle werden nicht mitgebracht.
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 13 Umwelttheater
  %h4 Umwelttheater Figurenspiel 2: Abfallvermeidung, Recycling und Littering
  %p
    Dieser Kurs ist die Fortsetzung des Figurenspiels 1 «Kompostieren und Littering». Er kann aber auch ohne Kenntnisse dieses Kurses gebucht werden. Die Themen Recycling und Abfallvermeidung werden spektakulär vermittelt. Der Kurs kann nur als Figurenspiel oder mit anschliessendem Bastelkurs und Einübung eines kurzen Abfalltheaters gebucht werden.
  %br/
  #orders
    .column.nine.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Birgit Gluth
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen mind. 2 Entsorgungsmöglichkeiten.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 bis 3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Donnerstag und Freitag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Kindergarten oder Schulzimmer
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              Kindergarten, 1. und 2. Klasse, EK
    .column.three.reset.last
      = image_tag('offers/figurenspiel.jpg')

  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 14 Elektro
  %h4 Elektrogeräte und Elektroschrott – Vermeiden, Reparieren, Recycling
  %p
    In der Schweiz landen viele Elektrogeräte immer noch im Haushaltabfall. Dadurch gehen wertvolle Rohstoffe verloren und die Kehrichtverbrennung wird unnötig belastet. Im Kurs werden die unterschiedlichen Hintergründe der Rohstoffe und die Herstellung der Elektrogeräte behandelt. Im Weiteren wird die Kennzeichnung der Elektrogeräte erklärt sowie das Vermeiden und Recycling von Elektrogeräten.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen haben ihr Wissen über Recycling und Rohstoffschonung vertieft.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Klassenzimmer
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              4. bis 6. Primar und Oberstufe

  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 15 abfall
  %h4 Abfallvermeidung, Recycling und Basteln mit Abfall
  %p
    Wie ist es möglich, Abfälle einfach zu vermeiden? Welches Glas gehört in welche Entsorgungsstelle? Können Aluminium und Weissblech zusammen entsorgt werden und warum? All diese Themen werden stufengerecht und im aktiven Tun vermittelt. Das Thema wird mit einer einfachen Bastelarbeit abgerundet.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen haben ihr Wissen über das Recycling und Abfallvermeiden vertieft.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Schulzimmer
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              1. bis 6. Primar
  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 16 glas
  %h4 Glas: Herstellung und Recycling ‒ die undurchsichtigen Seiten werden durchleuchtet
  %p
    Bereits in der Steinzeit wurde natürliches Glas – Moldavit – zur Werkzeugherstellung verwendet. Seit ca. 1450 v.Chr. wird Glas von Menschen produziert und eingesetzt. Die verschiedenen Gläser sind unterschiedlich zusammengesetzt und benötigen verschiedene Schmelzpunkte bei der Herstellung und beim Recycling. Aus diesen Gründen müssen die Glasprodukte unterschiedlich entsorgt werden. Dieser Kurs vermittelt geschichtliche Informationen, Hintergründe zur Glasherstellung und zur richtigen, umweltschonenden Entsorgung von unterschiedlichen Glasprodukten. Ein Schwerpunkt ist auch das Thema Ressourcenschonung. Der Hauptrohstoff Quarzsand wird oft mittels grosser Umweltbelastung abgebaut.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, wie die unterschiedlichen Glassorten entsorgt werden.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Klassenzimmer + evtl. Glassammelstelle
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              4. bis 6. Primar
  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 17 Kompostieren
  %h4 Papier: Herstellung und Recycling – unbekannte Seiten eines altbekannten Produkts
  %p
    Papier ist aus unserem Alltag nicht mehr wegzudenken. Besonders in der Schule ist Papier allgegenwärtig. Oft wird Papier gedankenlos verschwendet und landet zu schnell im Altpapier oder sogar im allgemeinen Abfall. Der Rohstoff für Papier ist bekanntlich Holz. In vielen Herkunftsländern dieses Holzes werden noch immer Urwälder dafür vernichtet.
    %br/
    In diesem Kurs werden die globalen Zusammenhänge des Papierverbrauchs gezeigt, und es wird vermittelt, wie wir täglich den Papierverbrauch reduzieren können.
  %br/
  #orders
    .column.twelve.reset
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen mind. 2 Gründe, weshalb wir Papier sparen sollen.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Klassenzimmer
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              4. bis 6. Primar 
  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 18 Recycling
  %h4 Recycling, Abfallbewirtschaftung und Littering in der Gemeinde – Besuch auf dem Werkhof
  %p
    Ein spannender Ausflug auf den Gemeindewerkhof. Die Aufgaben des Werkhofs mit Schwerpunkt Abfallbewirtschaftung werden von den Mitarbeitern des Werkhofs veranschaulicht. Die Probleme des Litterings in der Gemeinde werden geschildert und aufgezeigt. Die Schüler/innen suchen in Gruppen Lösungsansätze. Das Thema Recycling wird in einem Abfallkalenderwettbewerb vertieft. Der Kurs wird mit einer Werkhofbesichtigung abgerundet.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher und Mitarbeiter Werkhof
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen mind. 3 Aufgaben des Werkhofes und wissen 3 Gründe, warum man Abfälle nicht achtlos wegwirft.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag, nur vormittags möglich
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Gemeindewerkhof
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              4. bis 6. Primar
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 19 Littering ums Schulhaus
  %h4 Littering ums Schulhaus, auf dem Schulweg sowie in der Gemeinde
  %p
    Täglich begegnen die Schüler/innen achtlos weggeworfenen Abfällen. Teilweise sind sie selbst die Verursacher/innen davon. Viele Menschen stören sich nicht mehr an diesen Abfällen und wenige wissen, warum genau diese Abfälle korrekt entsorgt werden sollen. Dieser Kurs zeigt den Schülern/-innen die diversen Probleme rund um das Thema Littering.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen mehrere Gründe, warum man Abfalle nicht achtlos wegwirft.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 oder 3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Schulzimmer, Schulhausareal, angrenzendes Quartier
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              2. bis 6. Primar und Oberstufe
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 20: Anti-Littering-Einsatz in der Gemeinde
  %h4 Anti-Littering-Einsatz in der Gemeinde
  %p
    Die stark verschmutzen Orte in der Gemeinde werden gereinigt. Da diese mühsame Arbeit effektiver in Gruppen à max. 6 Schüler/innen gelöst wird, braucht es für diesen Kurs zur Lehrperson zwei weitere erwachsene Helfer/innen. Am Ende des Kurses werden die «Fundstücke» analysiert. Das Material zum Einsammeln wird durch die Kursleitung beim Werkhof besorgt.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher + Mitarbeiter Werkhof
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, wie mühsam das Abfalleinsammeln ist.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              4 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag, nur vormittags möglich
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Gemeinde
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              3. bis 6. Primar
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 21. Figurenspiel Mme Poubelle & das sprechende Sandwich - Littering + Foodwast
  %h4 Figurenspiel Mme Poubelle & das sprechende Sandwich - Littering + Foodwast
  %p
    Mme Poubelle geht mit den Kindern auf den Pausenplatz, gemeinsam schauen sie ob Abfall herum liegt. Sicher werden sie einigen Abfall aufstöbern, der es nicht in den Abfallkübel geschafft hat.
    %br/
    Im Schulzimmer wird untersucht, wer, was gefunden hat und die Frage gestellt warum „gelittert“ wird.
    %br/
    Zum Glück weiss der schlaue Rabe Corbeau auf jede Frage eine Antwort doch als im Abfall auch noch ein ganzes Sandwich gefunden wird,hat auch er keine Idee warum man das wegschmeißt.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Doris Weiller
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die SchülerInnen kennen die Littering Folgen + wissen wie Foodwaste vermieden wird.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag, Dienstag und Donnerstag sowie nach Absprache
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Pausenhof und Schulzimmer
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              1. und 2. Primar
  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 22. Abfall im Wasser
  %h4 Abfall im Wasser
  %p
    Was hat die achtlos weggeworfene Plastikfolie auf dem Schulhausplatz mit der Verschmutzung der Meere zu tun? Dieser Kurs thematisiert das Problem der Abfälle im Wasser und deren Einfluss auf die Wasserqualität und die Lebewesen im Wasser. Der Kurs findet teils beim Schulhaus und teils an einem nahen Gewässer statt. Die Themen Wasser, Littering und Naturkreisläufe im Wasser sowie die Kleinlebewesen im Wasser werden thematisiert.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, was mit Abfällen im Wasser geschehen kann, sie können mind. ein Wasserkleinlebewesen bestimmen.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              3 bis 3,5 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Bach oder Fluss in der Gemeinde
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              3. bis 6. Primar und Oberstufe
        %tr
          %td.middle.orderTitle
            %code.middle
              Ausrüstung
          %td.middle
            %code.middle.warn
              Die Schüler/innen tragen Kleider, die schmutzig und nass werden dürfen. Gummistiefel 			oder Badeschlappen (nur im Sommer!) sind als Fussbekleidung ideal.

  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 23  Bachputzede
  %h4 Bachputzede ‒ Umwelteinsatz
  %p
    Dieser Einsatz ist als Folgeaktion für den Abfallpädagogikkurs «Abfall im Wasser» gedacht. An einem Gewässer in der Gemeinde werden Abfälle gesammelt. Aus Sicherheitsgründen liegt der Schwerpunkt der Reinigung beim Ufergebiet. Da diese mühsame Arbeit effektiver in Gruppen à max. 6 Schüler/innen gelöst wird, braucht es für diesen Kurs zur Lehrperson zwei weitere erwachsene Helfer/innen. Am Ende des Kurses werden die «Fundstücke» analysiert. Das Material zum Einsammeln wird von der Kursleitung beim Werkhof der Gemeinde organisiert.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, wie mühsam das Abfalleinsammeln im Wasser ist.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              4 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Gewässer in der Gemeinde
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              4. bis 6. Primar und Oberstufe
        %tr
          %td.middle.orderTitle
            %code.middle
              Ausrüstung
          %td.middle
            %code.middle.warn
              Die SchülerInnen tragen Kleider, die schmutzig und nass werden dürfen. Gummistiefel oder Badeschlappen (nur im Sommer!) sind als Fussbekleidung ideal. 
  .clear
  %hr.hr/

  /---------------------------------------------------------------
  / 24. Umwelteinsätze
  %h4 Ein Morgen rund um das Thema Wasser
  %p
    Ausgangspunkt dieses Morgens zum Thema Wasser ist die Firma Hinni in Biel-Benken. Die Klasse wird in zwei Gruppen geteilt. Die eine Gruppe wird durch die Schulungsräume der Firma Hinni geführt und erhält Einblick in die Wasserversorgung in den Gemeinden. Zudem erleben die Schüler/innen, wie die unterschiedlichen Hydranten funktionieren. Die andere Gruppe geht mit Barbara Schumacher zum Birsig und bearbeitet das Thema Littering in Bezug auf die Problematik im und am Wasser. Zudem wird die Wasserqualität anhand der Kleinlebewesen im Wasser beurteilt. Die Pause erfolgt bei der Firma Hinni und nach der Pause wechseln die Gruppen ihre Posten.

  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher und Mitarbeiter der Firma Hinni
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, warum wir zum Wasser Sorge tragen müssen und wie in den Gemeinden die Wasserversorgung im Brandfall funktioniert.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer + Start
          %td.middle
            %code.middle
              3,5 Std. inkl. Pause, Kursbeginn 8.30 Uhr
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Biel-Benken: am Birsig und bei der Firma Hinni
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              4. bis 6. Primar und Oberstufe
  .clear
  %hr.hr/
