%div
  / Kompostieren
  %h4 Kompostieren und Recycling ‒ die Tierwelt im Kompost wird entdeckt
  %p
    Dieser Kurs vermittelt die Naturkreisläufe sowie die spannende Welt der Kleinlebewesen in Kompost und Boden. Warum ist es wichtig, dass kompostiert wird? Was gehört in den Kompost und was nicht? Was geschieht im Kompost mit den biogenen Abfällen? All diese Fragen werden erlebnisreich beantwortet. Die Schüler/innen lösen unterschiedliche Aufgaben und haben die Möglichkeit, nach lebenden Komposttieren zu forschen.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              DDie Schüler/innen kennen Kleinlebewesen und können sie anfassen.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 oder 3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag, ideal am Nachmittag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Kindergarten, Schulzimmer, Schulhausareal
  .clear
  %hr.hr/
  /------------------------------------------------------------
  / Recycling
  %h4 Recycling und Kompostieren
  %p
    Im ersten Kursteil werden die vielen Recyclingmöglichkeiten praktisch erarbeitet. Hintergründe und Wichtigkeit des Recyclings sowie das Thema Ressourcenschonung werden vermittelt. Im Weiteren wird auch das Thema «Food-Waste» kurz behandelt. Im 2. Teil liegt der Schwerpunkt beim Thema Kompostieren und Grüngutentsorgung. Die Schüler/innen bekommen Teller mit Komposterde, in denen sie die Tiere suchen und bestimmen. Das Kennenlernen der Bodenlebewesen erzeugt auch einen vertieften Bezug zum Boden und zur Erde, was zur Folge hat, dass Littering auf dem Pausenplatz und in der Gemeinde reduziert werden kann.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen Kleinlebewesen und können sie anfassen.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 oder 3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag, ideal am Nachmittag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Kindergarten oder Schulzimmer
  .clear
  %hr.hr/
  /------------------------------------------------------------
  / Schulmodul
  %h4 Projekt Aufbau und Unterhalt eines Schulgartens
  %p
    Oft besteht in Schulen der Wunsch nach einem Schulgarten, oder ein nicht mehr genutzter Schulgarten ist vorhanden. In Zusammenarbeit mit den zuständigen Lehrpersonen, der Schulleitung und der Gemeinde übernimmt Barbara Schumacher die Projektleitung, und ein Konzept zur Gartenbetreuung und -bearbeitung wird erarbeitet, realisiert und punktuell begleitet. Im Schulgarten werden neben Früchten und Gemüsen auch Blumen gepflanzt, dies kann in Boden- oder Hochbeeten gemacht werden. Für die Blumenverarbeitung ist es möglich, einen Folgekurs für die Herstellung von Kränzen oder Blumengestecken zu buchen. Ein weiteres wichtiges Element dieses Projekts ist die Kompostierung der Znüniabfälle sowie der biogenen Abfälle aus dem Lehrerzimmer. Im Weiteren wird das Thema «Food-Waste» vermittelt.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Projektleitung
          %td.middle
            %code.middle
              Barbara Schumacher in Zusammenarbeit Lehrerschaft, Schulleitung und Gemeinde 
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Projektziel
          %td.middle
            %code.middle
              Ein Schulgarten wird errichtet oder erneut aktiviert und mindestens 18 bis 
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              alle Sekundarstufen
  .clear
  %hr.hr/
  /------------------------------------------------------------
  / Recyclingmöglichkeiten
  %h4 Recycling, Kompostieren und erneuerbare Energie durch Biomassenvergärung in Pratteln
  %p
    Recycling und die Wiederverwertung von (biogenen) Abfällen sowie unser Umgang mit Lebensmitteln sind die Kernthemen dieses erlebnisreichen Kurses. Auf dem Rundgang durch die Anlage in Pratteln können die Prozesse der Biomassenvergärung, Biogasgewinnung und das Kompostieren verfolgt werden. Im letzten Teil des Kurses wird das gewonnene Wissen mittels Experimenten vertieft.
  %br/
  #orders
    .column.twelve.reset
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen diverse Recyclingmöglichkeiten und wissen, wie die Vergärung von biogenen Abfällen funktioniert.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              3,5 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag, nach Absprache auch am Freitag möglich
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Biopower Pratteln
  .clear
  %hr.hr/
  /------------------------------------------------------------
  / Glas
  %h4 Schulmodul in der Kehrichtverwertung Basel (KVA) ‒ Schwerpunktthema: Abfallvermeidung
  %p
    Der Kurs mit Schwerpunkt Abfallvermeidung und Ressourcenschonung findet in der Kehrichtverwertungsanlage Basel (KVA) statt. Anhand von praktischen Beispielen werden den Schülern/-innen stufengerecht die Hauptabfallproblematiken wie Ressourcenverbrauch, Erdölverbrauch und Reststoffe aus der Abfallverbrennung und deren Endlagerung vermittelt.
    %br/
    Recycling ist ein weiteres Thema, das in diesem Kurs behandelt wird.
    %br/
    Der lebhafte und beeindruckende Rundgang durch die Anlage ermöglicht einen vertieften Einblick in die Thematik. 
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, warum es nötig ist, Abfall zu vermeiden.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag, vormittags
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              KVA Basel
  .clear
  %hr.hr/
  /------------------------------------------------------------
  / Anti-Littering-Workshop
  %h4 Recyclingmöglichkeiten, Abfallvermeidung und Werken mit Abfall
  %p
    Gemeinden und andere Einrichtungen bieten ein breites Angebot an Recyclingmöglichkeiten, die ein Teil der Bevölkerung zu wenig kennt. Gewisse Abfälle werden falsch recycelt, was zu einem zusätzlichen Energie- und Kostenaufwand führt. In diesem Kurs werden die Recyclingmöglichkeiten für diverse Abfälle vermittelt und es werden Möglichkeiten zur Abfallvermeidung erarbeitet. Das Thema wird mit einer brauchbaren Werkarbeit abgerundet.
  %br/
  #orders
    .column.nine.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen haben ihr Wissen über Recycling und Abfallvermeiden vertieft.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Schulzimmer und/oder Werkraum
    .column.three.reset.last
      = image_tag('offers/recycling.jpg' )
  .clear
  %hr.hr/
  /------------------------------------------------------------
  / Littering ums Schulhaus
  %h4 Glas: Herstellung und Recycling ‒ die undurchsichtigen Seiten werden durchleuchtet
  %p
    Bereits in der Steinzeit wurde natürliches Glas – Obsidian – zur Werkzeugherstellung verwendet. Seit ca. 1450 v.Chr. wird Glas von Menschen produziert und eingesetzt. Die verschiedenen Gläser sind unterschiedlich zusammengesetzt und benötigen verschiedene Schmelzpunkte bei der Herstellung und beim Recycling. Aus diesen Gründen müssen die Glasprodukte unterschiedlich entsorgt werden. An den Sammelstellen der Gemeinden werden viele Gläser nicht sachgerecht entsorgt. Dieser Kurs vermittelt geschichtliche Informationen, Hintergründe zur Glasherstellung und zur richtigen, umweltschonenden Entsorgung von unterschiedlichen Glasprodukten. Ein Schwerpunkt ist auch das Thema Ressourcenschonung. Der Hauptrohstoff Quarzsand wird oft mittels grosser Umweltbelastung abgebaut.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, wie die unterschiedlichen Glassorten entsorgt werden.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Klassenzimmer + evtl. Glassammelstelle
  .clear
  %hr.hr/
  /------------------------------------------------------------
  / Anti-Littering-Einsatz
  %h4 Papier: Herstellung und Recycling – unbekannte Seiten eines altbekannten Produkts
  %p
    Papier ist aus unserem Alltag nicht mehr wegzudenken. Besonders in der Schule ist Papier allgegenwärtig. Oft wird Papier gedankenlos verschwendet und landet zu schnell im Altpapier oder sogar im allgemeinen Abfall. Der Rohstoff für Papier ist bekanntlich Holz. In vielen Herkunftsländern dieses Holzes werden noch immer Urwälder vernichtet.
    %br/
    In diesem Kurs werden die globalen Zusammenhänge des Papierverbrauchs gezeigt und es wird vermittelt, wie wir täglich den Papierverbrauch reduzieren können.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen mind. 2 Gründe, weshalb wir Papier sparen sollen.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Klassenzimmer
  .clear
  %hr.hr/

  /------------------------------------------------------------
  / Anti-Littering-Einsatz
  %h4 Anti-Littering-Workshop auf dem Werkhof
  %p
    Die Workshopposten informieren aus unterschiedlichen Blickfeldern die Themen Littering und Vandalismus. Den Schülern/-innen werden Hintergründe aufgezeigt, warum Abfall sachgerecht entsorgt werden soll. Sie erarbeiten in kleinen Gruppen Möglichkeiten zur Litteringeindämmung und erleben, wie mühsam die Arbeit der Strassenreinigung ist. Auf einem Rundgang durch den Werkhof erfahren sie mehr über die Tätigkeiten der Werkhofmitarbeiter. Zudem erhalten sie Informationen über ihre Rechte und Pflichten im öffentlichen Raum. Dies wird vom Präventionsverantwortlichen der Kantonspolizei vermittelt. Dieser mehrschichtige Kurs soll die Jugendlichen bewegen, weniger Abfälle achtlos wegzuwerfen.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher, Mitarbeiter Werkhof, 
              Präventionsverantwortlicher Kantonspolizei
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen Gründe, warum Abfall sachgerecht entsorgt werden soll.
              %br/
              Sie kennen ihre Rechte und Pflichten im öffentlichen Raum.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag, nur vormittags möglich
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Gemeindewerkhof
  .clear
  %hr.hr/
  /------------------------------------------------------------
  / Anti-Littering-Einsatz
  %h4 Littering ums Schulhaus, auf dem Schulweg sowie in der Gemeinde 
  %p
    Täglich begegnen die Schüler/innen achtlos weggeworfenen Abfällen. Teilweise sind sie selbst die Verursacher/innen davon. Viele Menschen stören sich nicht mehr an diesen Abfällen und wenige wissen, warum genau diese Abfälle korrekt entsorgt werden sollen. Dieser Kurs zeigt den Schülern/-innen die diversen Probleme rund um das Thema Littering.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen mehrere Gründe, warum man Abfalle nicht achtlos wegwirft.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 oder 3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Schulzimmer, Schulhausareal, angrenzendes Quartier
  .clear
  %hr.hr/
  /------------------------------------------------------------
  / Anti-Littering-Einsatz
  %h4 Anti-Littering-Einsatz in der Gemeinde
  %p
    Die stark verschmutzen Orte in der Gemeinde werden in einem geplanten Einsatz gereinigt. Da diese mühsame Arbeit effektiver in Gruppen à max. 6 Schüler/innen gelöst wird, braucht es für diesen Kurs zur Lehrperson zwei weitere erwachsene Helfer/innen. Am Ende des Kurses werden die «Fundstücke» analysiert. Das Material zum Einsammeln wird durch die Kursleitung beim Werkhof besorgt.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, wie mühsam das Abfalleinsammeln ist.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              4 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Gemeinde
  %hr.hr/
  /------------------------------------------------------------
  / Abfall im Wasser
  %h4 Abfall im Wasser
  %p
    Was hat die achtlos weggeworfene Plastikfolie auf dem Schulhausplatz mit der Verschmutzung der Meere zu tun? Dieser Kurs thematisiert das Problem der Abfälle im Wasser und deren Einfluss auf die Wasserqualität und die Lebewesen im Wasser. Der Kurs findet teils beim Schulhaus und teils an einem nahen Gewässer statt. Die Themen Wasser, Littering und Naturkreisläufe im Wasser sowie die Kleinlebewesen im Wasser werden thematisiert.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, was mit Abfällen im Wasser geschehen kann, sie können mind. ein Wasserkleinlebewesen bestimmen.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              3 bis 3,5 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Bach oder Fluss in der Gemeinde 
        %tr
          %td.middle.orderTitle
            %code.middle
              Ausrüstung
          %td.middle.warn
            %code.middle
              Die Schüler/innen tragen Kleider, die schmutzig und nass werden dürfen. Gummistiefel oder Badeschlappen (nur im Sommer!) sind als Fussbekleidung ideal. 
  .clear
  %hr.hr/
  /------------------------------------------------------------
  / Bachputzede
  %h4 Bachputzede ‒ Umwelteinsatz
  %p
    Dieser Einsatz ist als Folgeaktion für den Abfallpädagogikkurs «Abfall im Wasser» gedacht. An einem Gewässer in der Gemeinde werden Abfälle gesammelt. Aus Sicherheitsgründen liegt der Schwerpunkt der Reinigung beim Ufergebiet. Da diese mühsame Arbeit effektiver in Gruppen à max. 6 Schüler/innen gelöst wird, braucht es für diesen Kurs zur Lehrperson zwei weitere erwachsene Helfer/innen. Am Ende des Kurses werden die «Fundstücke» analysiert. Das Material zum Einsammeln wird von der Kursleitung beim Werkhof der Gemeinde organisiert.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, wie mühsam das Abfalleinsammeln im Wasser ist.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              4 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Gewässer in der Gemeinde
        %tr
          %td.middle.orderTitle
            %code.middle
              Ausrüstung
          %td.middle.warn
            %code.middle
              Die SchülerInnen tragen Kleider, die schmutzig und nass werden dürfen. Gummistiefel oder Badeschlappen (nur im Sommer!) sind als Fussbekleidung ideal.
  .clear
  %hr.hr/
  /------------------------------------------------------------
  / Projekttage
  %h4 Trinkwasseraufbereitung in der Langen Erlen, Basel
  %p
    Dieser Kurs startet mit einer kindergerechten Führung durch die interessante Wasseraufbereitungsanlage der Stadt Basel. In Werkstadtposten werden folgende Themen behandelt: Wasserkreislauf, Wasserinhaltsstoffe, Kleinlebewesen im Wasser, der sorgsame Umgang mit Trinkwasser und die Trinkwassersituation weltweit.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Guide Linie-e
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen mind. 3 Abfälle, die nicht in den Abfluss gehören.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Freitag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Lange Erlen, Basel
  .clear
  %hr.hr/
  /------------------------------------------------------------
  / Projekttage
  %h4 Projekttage und Projektwochen
  %p
    Klassen oder ganze Schulhäuser können auch individuell zusammengestellte Kurstage oder Kurswochen buchen. Die Organisation und die Koordination sowie die Beschaffung des Budgets übernimmt Barbara Schumacher. Projektwochen müssen mindestens 6 Monate vor der Durchführung gebucht werden.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Projektleitung
          %td.middle
            %code.middle
              Barbara Schumacher in Zusammenarbeit mit Gemeinde und Schulleitung
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher und Birgit Gluth
        %tr
          %td.middle.orderTitle
            %code.middle
              Projektziel
          %td.middle
            %code.middle
              Die Schüler/innen erhalten ein vertieftes Wissen über die diversen Abfall- und Umweltthemen.
  .clear
  %hr.hr/
  /------------------------------------------------------------
  / Umwelteinsätze
  %h4 Umwelteinsätze in der Gemeinde
  %p
    Naturschutzgebiete erfordern eine fachgerechte und aufwendige Pflege. In diesem Angebot wird in Zusammenarbeit mit einer Fachperson das Naturschutzgebiet von gelitterten Abfällen und Neophyten befreit. Brombeeren werden zurückgeschnitten oder entfernt, Hochstammbäume oder andere Pflanzen werden auf Wunsch der Gemeinde und in Absprache mit der Fachperson gepflanzt.
  %br/
  #orders
    .column.twelve.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Projektleitung
          %td.middle
            %code.middle
              Barbara Schumacher in Zusammenarbeit mit Gemeinde und Fachperson
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher und Fachperson
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen haben ein vertieftes Wissen über einheimische Pflanzen und schützenswerte Gebiete in der Gemeinde.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              4‒6 Std., inkl. Mittagessen
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Naturschutzgebiet Gemeinde
  .clear
  %hr.hr/
  /------------------------------------------------------------
