%div
  /---------------------------------------------------------------
  / 7. Recycling Kompost
  %h4  Recycling, Kompostieren und erneuerbare Energie durch Biomassenvergärung in Pratteln
  %p
    Recycling und die Wiederverwertung von (biogenen) Abfällen sowie unser Umgang mit Lebensmitteln sind die Kernthemen dieses erlebnisreichen Kurses. Auf dem Rundgang durch die Anlage in Pratteln können die Prozesse der Biomassenvergärung, Biogasgewinnung und das Kompostieren verfolgt werden.
  %br/
  #orders
    .column.twelve.reset
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher 
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen diverse Recyclingmöglichkeiten und wissen, wie die Vergärung von biogenen Abfällen funktioniert.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              3,5 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Biopower Pratteln
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              5. und 6. Primar und Oberstufe
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 10. Schulmodul
  %h4 Schulmodul in der Kehrichtverwertung Basel (KVA) ‒ Schwerpunktthema: Abfallvermeidung
  %p
    Der Kurs mit Schwerpunkt Abfallvermeidung und Ressourcenschonung findet in der Kehrichtverwertungsanlage Basel (KVA) statt. Anhand von praktischen Beispielen werden den Schülern/Schülerinnen stufengerecht die Hauptabfallproblematiken wie Ressourcenverbrauch, Erdölverbrauch und Reststoffe aus der Abfallverbrennung und deren Endlagerung vermittelt.
    %br/
    Der lebhafte und beeindruckende Rundgang durch die Anlage ermöglicht einen vertieften Einblick in die Thematik. 
  %br/
  #orders
    .column.eight.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, warum es nötig ist, Abfall zu vermeiden.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag, vormittags
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              KVA Basel
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              ab 4. Primar und Oberstufe
    .column.three.reset.last
      = image_tag('offers/kehrichtverwertung.png' )
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 14 Elektro
  %h4 Elektrogeräte und Elektroschrott – Vermeiden, Reparieren, Recycling
  %p
    In der Schweiz landen viele Elektrogeräte immer noch im Haushaltsabfall. Dadurch gehen wertvolle Rohstoffe verloren und die Kehrichtverbrennung wird unnötig belastet. Im Kurs werden die unterschiedlichen Hintergründe der Rohstoffe und die Herstellung der Elektrogeräte behandelt. Im Weiteren wird die Kennzeichnung der Elektrogeräte erklärt sowie das Vermeiden und Recycling von Elektrogeräten.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen haben ihr Wissen über Recycling und Rohstoffschonung vertieft.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 Lektionen.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Klassenzimmer
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              4. bis 6. Primar und Oberstufe
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 16 Recycling
  %h4 Recycling, Abfallbewirtschaftung und Littering in der Gemeinde – Werkhof Besuch
  %p
    Ein spannender Ausflug auf den Gemeindewerkhof. Die Aufgaben des Werkhofs mit Schwerpunkt Abfallbewirtschaftung werden von den Mitarbeitern des Werkhofs veranschaulicht. Die Probleme des Litterings in der Gemeinde werden geschildert und aufgezeigt. Die Schüler/innen suchen in Gruppen Lösungsansätze. Das Thema Recycling wird in einem Abfallkalenderwettbewerb vertieft. Der Kurs wird mit einer Werkhofbesichtigung abgerundet.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher und Mitarbeiter Werkhof
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen mind. 3 Aufgaben des Werkhofes und wissen 3 Gründe, warum man Abfälle nicht achtlos wegwirft.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              3 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Montag bis Donnerstag, nur vormittags möglich
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Gemeindewerkhof
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              4. bis 6. Primar und Oberstufe
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 17 Littering ums Schulhaus
  %h4 Littering ums Schulhaus, auf dem Schulweg sowie in der Gemeinde
  %p
    Täglich begegnen die Schüler/innen achtlos weggeworfenen Abfällen. Teilweise sind sie selbst die Verursacher/innen davon. Viele Menschen stören sich nicht mehr an diesen Abfällen und wenige wissen, warum genau diese Abfälle korrekt entsorgt werden sollen. Dieser Kurs zeigt den Schülern/-innen die diversen Probleme rund um das Thema Littering.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher oder David Iten oder Michelle Meier
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen kennen mehrere Gründe, warum man Abfalle nicht achtlos wegwirft.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 Lektionen
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Barbara: Montag bis Donnerstag / David: Montag und Freitag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Schulzimmer, Schulhausareal, angrenzendes Quartier
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              2. bis 6. Primar und Oberstufe
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 18: Anti-Littering-Einsatz in der Gemeinde
  %h4 Anti-Littering-Einsatz in der Gemeinde
  %p
    Die stark verschmutzen Orte in der Gemeinde werden gereinigt. Da diese mühsame Arbeit effektiver in Gruppen à max. 6 Schüler/innen gelöst wird, braucht es für diesen Kurs zur Lehrperson zwei weitere erwachsene Helfer/innen. Am Ende des Kurses werden die «Fundstücke» analysiert. Das Material zum Einsammeln wird durch die Kursleitung beim Werkhof besorgt.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher oder David Iten
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, wie mühsam das Abfalleinsammeln ist.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              4 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Barbara: Montag bis Donnerstag / David: Montag und Freitag 
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Gemeinde
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              3. bis 6. Primar und Oberstufe
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 22. Abfall im Wasser
  %h4 Abfall im Wasser
  %p
    Was hat die achtlos weggeworfene Plastikfolie auf dem Schulhausplatz mit der Verschmutzung der Meere zu tun? Dieser Kurs thematisiert das Problem der Abfälle im Wasser und deren Einfluss auf die Wasserqualität und die Lebewesen im Wasser. Der Kurs findet teils beim Schulhaus und teils an einem nahen Gewässer statt. Die Themen Wasserqualität, Littering, Naturkreisläufe im Wasser sowie die Kleinlebewesen werden thematisiert.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher oder Michelle Meier
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, was mit Abfällen im Wasser geschehen kann, sie können mind. ein Wasserkleinlebewesen bestimmen. 
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              2 bis 4 Lektionen
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Barbara Schumacher Montag bis Donnerstag Michelle Meier Dienstag und Donnerstag 
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Bach oder Fluss in der Gemeinde
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              3. bis 6. Primar und Oberstufe
        %tr
          %td.middle.orderTitle
            %code.middle
              Ausrüstung
          %td.middle
            %code.middle.warn
              Die Schüler/innen tragen Kleider, die schmutzig und nass werden dürfen. Gummistiefel oder Badeschlappen (nur im Sommer!) sind als Fussbekleidung ideal.

  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 23  Bachputzede
  %h4 Bachputzede ‒ Umwelteinsatz
  %p
    Dieser Einsatz ist als Folgeaktion für den Abfallpädagogikkurs «Abfall im Wasser» gedacht. An einem Gewässer in der Gemeinde werden Abfälle gesammelt. Aus Sicherheitsgründen liegt der Schwerpunkt der Reinigung beim Ufergebiet. Da diese mühsame Arbeit effektiver in Gruppen à max. 6 Schüler/innen gelöst wird, braucht es für diesen Kurs zur Lehrperson zwei weitere erwachsene Helfer/innen. Am Ende des Kurses werden die «Fundstücke» analysiert und das korrekte Recycling besprochen. Das Material zum Einsammeln der Abfälle wird von der Kursleitung beim Werkhof der Gemeinde organisiert.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher oder Michelle Meier
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, wie mühsam das Abfalleinsammeln im Wasser ist.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer
          %td.middle
            %code.middle
              4 Std.
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Barbara Schumacher Montag bis Donnerstag Michelle Meier Dienstag und Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Gewässer in der Gemeinde
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              4. bis 6. Primar und Oberstufe
        %tr
          %td.middle.orderTitle
            %code.middle
              Ausrüstung
          %td.middle
            %code.middle.warn
              Die SchülerInnen tragen Kleider, die schmutzig und nass werden dürfen. Gummistiefel oder Badeschlappen (nur im Sommer!) sind als Fussbekleidung ideal. 
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 24. Umwelteinsätze
  %h4 Ein Morgen rund um das Thema Wasser
  %p
    Ausgangspunkt dieses Morgens zum Thema Wasser ist die Firma Hinni in Biel-Benken. Die Klasse wird in zwei Gruppen geteilt. Die eine Gruppe wird durch die Schulungsräume der Firma Hinni geführt und erhält Einblick in die Wasserversorgung in den Gemeinden. Der Wasserkreislauf wird zum Thema, zudem erleben die Schüler/innen, wie die unterschiedlichen Hydranten funktionieren. Die andere Gruppe geht mit Barbara Schumacher oder Michelle Meier zum Birsig und bearbeitet das Thema Littering in Bezug auf die Problematik im und am Wasser. Zudem wird die Wasserqualität anhand der Kleinlebewesen im Wasser beurteilt. Die Pause erfolgt bei der Firma Hinni und nach der Pause wechseln die Gruppen ihre Posten.
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Barbara Schumacher oder Michelle Meier und Mitarbeiter der Firma Hinni 
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursziel
          %td.middle
            %code.middle
              Die Schüler/innen wissen, warum wir zum Wasser Sorge tragen müssen, wie in den Gemeinden die Wasserversorgung (im Brandfall) funktioniert. 
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursdauer + Start
          %td.middle
            %code.middle
              3,5 Std. inkl. Pause, Kursbeginn 8.30 Uhr 
        %tr
          %td.middle.orderTitle
            %code.middle
              Kurstage
          %td.middle
            %code.middle
              Barbara Schumacher Montag - Donnerstag Michelle Meier Dienstag und Donnerstag
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursort
          %td.middle
            %code.middle
              Biel-Benken: am Birsig und bei der Firma Hinni
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              4. bis 6. Primar und Oberstufe
        %tr
          %td.middle.orderTitle
            %code.middle
              Ausrüstung
          %td.middle
            %code.middle.warn
              Die SchülerInnen tragen Kleider, die schmutzig und nass werden dürfen. Gummistiefel oder Badeschlappen (nur im Sommer!) sind als Fussbekleidung ideal. 
  .clear
  %hr.hr/
  /---------------------------------------------------------------
  / 27. Projekttage
  %h4 Projekttage und Projektwochen 
  %p
    Klassen oder ganze Schulhäuser können auch individuell zusammengestellte Kurstage oder Kurswochen buchen. Die Organisation und die Koordination sowie die Beschaffung des Budgets übernimmt Barbara Schumacher. Projektwochen müssen mindestens 6 Monate vor der Durchführung gebucht werden. 
  %br/
  #orders
    .column.twelve.reset.last
      %table
        %tr
          %td.middle.orderTitle
            %code.middle
              Projektleitung
          %td.middle
            %code.middle
              Barbara Schumacher in Zusammenarbeit mit Gemeinde und Schulleitung
        %tr
          %td.middle.orderTitle
            %code.middle
              Kursleitung
          %td.middle
            %code.middle
              Ganzes Team
        %tr
          %td.middle.orderTitle
            %code.middle
              Projektziel
          %td.middle
            %code.middle
              Die Schüler/innen erhalten ein vertieftes Wissen über die diversen Abfall- und  Umweltthemen.
        %tr
          %td.middle.orderTitle
            %code.middle
              Stufen
          %td.middle
            %code.middle
              alle Stufen
  .clear
  %hr.hr/