%article#main
  %h1 Wer wir sind

  %a.fancybox{href: image_path('Barbara_Schumacher.jpg'), rel: "gallery", title: "Barbara Schumacher"}
    = image_tag('Barbara_Schumacher_tb.jpg' )
  
  %br/
  Barbara Schumacher
