<article id="main">
<h1>Umwelt- und Abfallpädagogik-Kurse</h1>
<p>
In der ganzen Schweiz vergrössert sich jährlich die Abfallmenge pro Person, Littering ist längst nicht nur ein Problem an neuralgischen Orten in Städten und Agglomerationen. Die Themenbereiche wie Ressourcenschonung, erneuerbare Energien sind in einem stetigen Wandel und sehr vielseitig.
Viele Gemeinden und Städte in der Schweiz haben sich deshalb schon seit langem entschieden, den Lehrpersonen für die Vermittlung dieser wichtigen und vielschichtigen Themen Umwelt- und AbfallpädagogInnen zur Unterstützung anzubieten und zu finanzieren.</p>
<p>
Wir, Barbara Schumacher und Birgit Gluth, bieten seit vielen Jahren ein abwechslungsreiches und umfassendes Umwelt- und Abfallpädagogik-Kursprogramm vom Kindergarten über die Primar- und Sekundarschule bis hin zur Erwachsenenbildung an.</p>
<p>
Die Themen Abfallvermeidung, Recycling und Littering sowie Energieeffizienz und erneuerbare Energien werden stufengerecht und spannend vermittelt. Wir passen die Kursthemen der jeweiligen Stufe, dem Lehrplan und den Abfall- und Umweltsituationen in der Schule und der Gemeinde wie aber auch den Wünschen der Lehrpersonen und Gemeindeverantwortlichen an. Den Lehrpersonen ist es auch möglich, nach Rücksprache mit der Kursleiterin, die Schwerpunkte der Kurse zu wählen.</p>
</article>
