%article#main
  %h3 Unsere Kunden
  .row
    .row-content.buffer
      .column.six
        %h4 Seit 2005
        %ul.customer
          %li
            %a{:href => "http://www.biel-benken.ch/"}Gemeinde Biel-Benken
        %br/
      .column.six.last
        %h4 Seit 2006
        %ul.customer
          %li 
            %a{:href => "http://www.baselland.ch/Umweltschutz-Energie.274389.0.html"}Amt für Umweltschutz und Energie Basel  
          %li
            %a{:href => "http://www.allschwil.ch/de/index.php"}Gemeinde Allschwil
          %li
            %a{:href => "http://www.reinach-bl.ch/"}Gemeinde Reinach
        %br/
      .column.six
        %h4 Seit 2007
        %ul.customer
          %li
            %a{:href => "http://www.energiezukunftschweiz.ch/"}Energie Zukunft
        %br/
      .column.six.last
        %h4 Seit 2008
        %ul.customer
          %li 
            %a{:href => "http://www.binningen.ch/"}Gemeinde Binningen
          %li
            %a{:href => "http://www.ettingen.ch/"}Gemeinde Ettingen
          %li
            %a{:href => "http://www.therwil.ch/"}Gemeinde Therwil
        %br/
      .column.six
        %h1 Seit 2009
        %ul.customer
          %li
            %a{:href => "http://www.oberwil.ch/"}Gemeinde Oberwil
        %br/
      .column.six.last
        %h1 Seit 2010
        %ul.customer
          %li
            %a{:href => "http://www.bottmingen.ch/"}Gemeinde Bottmingen
          %li
            %a{:href => "http://www.birsfelden.ch/"}Gemeinde Birsfelden
          %li
            %a{:href => "http://www.pratteln.ch/"}Gemeinde Pratteln
        %br/
      .column.six
        %h1 Seit 2013
        %ul.customer
          %li
            %a{href: "http://www.muttenz.ch/"}Gemeinde Muttenz
          %li
            %a{href: "#"}Natur- und Umweltschutzkommission Therwil
        %br/
      .column.six.last
        %h1 Seit 2014
        %ul.customer
          %li
            %a{href: "http://www.aesch.bl.ch/"}Gemeinde Aesch
            
  %h3 Einmaliges Engagement
  .row
    .row-content.buffer
      .column.six
        %h4 2009
        %ul.customer
          %li
            %a{:href => "http://www.kompost.ch/"}Kompostforum Schweiz
        %br/
      .column.six.last
        %h4 2014
        %ul.customer
          %li
            %a{:href => "http://www.nvoberwil.ch/"}Natur- und Vogelschutzverein Oberwil


