%article#main
	%h4 Kompostmobil in Allschwil beim Schulhaus Gartenstrasse
	.column.half
		%a.fancybox{href: image_path('Kompostmobil_Allschwil.jpg'), rel: "gallery", title: "Kompostmobil in Allschwil"}
			= image_tag('Kompostmobil_Allschwil.jpg' )