%article#main

	%h4 September 2015
	%ul
		%li
			=link_to "Littering- und Abfall-Projektwoche im Meiriacker (Seite 2)", "http://www.binningeranzeiger.ch/images/stories/PDF/35-2015-w.pdf"
	%br/

	%h4 August 2015
	%ul
		%li
			=link_to "Umweltpädagogin: «Littering ist eine Art Gesellschaftskritik»", "http://www.tageswoche.ch/de/2015_33/basel/695616/%C2%ABM%C3%BCll-ist-etwas-Intimes%C2%BB.htm"
	%br/

	%h4 Juni 2015
	%ul
		%li
			Einsatz für die Umwelt
		.column.half
			%a.fancybox{href: image_path('media/Einsatz_fuer_die_Umwelt.jpg'), rel: "gallery", title: "Einsatz für die Umwelt"}
				= image_tag('media/Einsatz_fuer_die_Umwelt.jpg' )
	%br/

	%h4 März 2015
	%ul
		%li
			=link_to "Hier lernen Kinder etwas über Abfall - das hat bereits konkrete Folgen (BZ)", "http://www.bzbasel.ch/basel/baselbiet/hier-lernen-kinder-etwas-ueber-abfall-das-hat-bereits-konkrete-folgen-128832413"
	%br/

	%h4 Juli 2014
	%ul
		%li
			Wenn aus Schülern Forscher werden
		.column.half
			%a.fancybox{href: image_path('media/Kompostmobil_Allschwil.jpg'), rel: "gallery", title: "Kompostmobil in Allschwil"}
				= image_tag('media/Kompostmobil_Allschwil.jpg' )

		%li
			=link_to "Tolles Fest zum Schulschluss(BiBo)", "http://www.bibo.ch/pdf/2014_28_10_07_2014_ob.pdf"
	%br/

/	 %h3 Oberwil Kindergarten Sägestrasse Hochbeet einrichten
/	 .column.half
/		= link_to "Artikel", 'data/Bibo_Hochbeet.pdf'

	