%article#main
	%h4 M채rz 2015
	%ul
		%li
			=link_to "Hier lernen Kinder etwas 체ber Abfall - das hat bereits konkrete Folgen (BZ)", "http://www.bzbasel.ch/basel/baselbiet/hier-lernen-kinder-etwas-ueber-abfall-das-hat-bereits-konkrete-folgen-128832413"
	%br/
	%h4 Juli 2014
	%ul
		%li
			Wenn aus Sch체lern Forscher werden
		.column.half
			%a.fancybox{href: image_path('Kompostmobil_Allschwil.jpg'), rel: "gallery", title: "Kompostmobil in Allschwil"}
				= image_tag('Kompostmobil_Allschwil.jpg' )

		%li
			=link_to "Tolles Fest zum Schulschluss(BiBo)", "http://www.bibo.ch/pdf/2014_28_10_07_2014_ob.pdf"
	%br/

/	 %h3 Oberwil Kindergarten S채gestrasse Hochbeet einrichten
/	 .column.half
/		= link_to "Artikel", 'data/Bibo_Hochbeet.pdf'

	