%article#main
	%h3 Kompostmobil in Allschwil beim Schulhaus Gartenstrasse
	.column.half
		%a.fancybox{href: image_path('Kompostmobil_Allschwil.jpg'), rel: "gallery", title: "Kompostmobil in Allschwil"}
			= image_tag('Kompostmobil_Allschwil.jpg' )

	%h3 Tolles Fest zum Schulschluss 2014 (BiBo)
	=link_to "http://www.bibo.ch/pdf/2014_28_10_07_2014_ob.pdf", "http://www.bibo.ch/pdf/2014_28_10_07_2014_ob.pdf"
	%br/

/	 %h3 Oberwil Kindergarten Sägestrasse Hochbeet einrichten
/	 .column.half
/		= link_to "Artikel", 'data/Bibo_Hochbeet.pdf'

	