%article#main
	%p
	#accordion
		%h4
			%a{href: "#"} Primarschule und Kindergarten
		= render 'primarKindergarten'

		%h4
			%a{href: "#"} Sekundarschule
		%div
			Sekundarschule

		%h4
			%a{href: "#"} Lehrerweiterbildung
		%div
			Lehrerweiterbildung

		%h4
			%a{href: "#"} Erwachsenbildung
		%div
			Erwachsenbildung