%article#main
	%p
	#accordion
		%h4
			%a{href: "#"} Primarschule und Kindergarten
		= render 'primarKindergarten'

	#accordion2
		%h4
			%a{href: "#"} Sekundarschule
		%div
			Sekundarschule

	#accordion3
		%h4
			%a{href: "#"} Lehrerweiterbildung
		%div
			Lehrerweiterbildung

	#accordion4
		%h4
			%a{href: "#"} Erwachsenbildung
		%div
			Erwachsenbildung