%article#main
	%p
	#accordion
		%h4
			%a{href: "#"} Primarschule und Kindergarten
		= render 'primarKindergarten'

		%h4
			%a{href: "#"} Sekundarschule
		= render 'sekundar'

		%h4
			%a{href: "#"} Lehrerweiterbildung
		%div
			Momentan keine Kurse

		%h4
			%a{href: "#"} Erwachsenbildung
		%div
			Momentan keine Kurse

		/ %h4
		/	%a{href: "#"} Erwachsenbildung
		/%div
		/	Momentan keine Kurse