%article#main
	%p
	.column.ten.center
		%h2 Behind the Scenes mit Richard Wherlock. Führung durch die Kehrichtverwertung Basel
		#video_1
		<br />
		%hr.hr/
		%h2 Kompostkurs mit Barbara Schumacher (Trashup 22. März 2009)
		#video_2
		<br />
		%hr.hr/
		%h2 Kurs Littering im Öffentlichen Raum und Naturkreisläufe im Wald (Trashup 13. Juni 2009)
		#video_3
		<br />
		%hr.hr/
		%h2 Schulmodul in der Kehrichtverwertung Basel (Trashup 22. Februar 2010)
		#video_4
		<br />
		%hr.hr/
		%h2 Kurs Recycling und Biomassenvergärung (Trashup 30. Mai 2010)
		#video_5
		<br />
		%hr.hr/
		%h2 The Majestic Plastic Bag - A Mockumentary
		#video_6
		
		
