%article#main
	%p
	.column.ten.center
		%h2 3 Tipps für Zeitgeschänke mit Barbara Schumacher
		%iframe{:allowFullScreen => "", :frameborder => "0", :height => "500", :width => "500", :src => "https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fumweltagendabasel%2Fvideos%2F816840765426855%2F&show_text=0"}
		<br />
		%hr.hr/
		%h2 Behind the Scenes mit Richard Wherlock. Führung durch die Kehrichtverwertung Basel
		#video_1
		<br />
		%hr.hr/
		%h2 Kompostkurs mit Barbara Schumacher (Trashup 22. März 2009)
		#video_2
		<br />
		%hr.hr/
		%h2 Kurs Littering im Öffentlichen Raum und Naturkreisläufe im Wald (Trashup 13. Juni 2009)
		#video_3
		<br />
		%hr.hr/
		%h2 Schulmodul in der Kehrichtverwertung Basel (Trashup 22. Februar 2010)
		#video_4
		<br />
		%hr.hr/
		%h2 Kurs Recycling und Biomassenvergärung (Trashup 30. Mai 2010)
		#video_5
		<br />
		%hr.hr/
		%h2 It's a plastic world
		%iframe{:allowfullscreen => "", :frameborder => "0", :height => "500", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/100693751?byline=0&portrait=0&color=00b0f0", :webkitallowfullscreen => "", :width => "500"}
		
		
