// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#accordion .ui-accordion-header {
	margin-bottom: 0.3em; /* spaces between the boxes */
	border-radius: 5px;
	text-decoration: none;
	background-color: #2188A8; /*  0A459E 0A9E75  09946E  2970DA 2188A8  1A8F4E*/
	a {
		color: #fff;
		line-height: 42px; /* How big are the titles */
		display: block;
		font-size: 12pt;
		width: 100%;
		text-indent: 10px; /* Put the title a little bit right */
	}
}

#accordion4 .ui-accordion-header {
	margin-bottom: 0.3em; /* spaces between the boxes */
	border-radius: 5px;
	text-decoration: none;
	background-color: #1A8F4E; /*  0A459E 0A9E75  09946E  2970DA 2188A8  1A8F4E*/
	a {
		color: #fff;
		line-height: 42px; /* How big are the titles */
		display: block;
		font-size: 12pt;
		width: 100%;
		text-indent: 10px; /* Put the title a little bit right */
	}
}

#accordion3 .ui-accordion-header {
	margin-bottom: 0.3em; /* spaces between the boxes */
	border-radius: 5px;
	text-decoration: none;
	background-color: #0A9E75; /*  0A459E 0A9E75  09946E  2970DA 2188A8  1A8F4E*/
	a {
		color: #fff;
		line-height: 42px; /* How big are the titles */
		display: block;
		font-size: 12pt;
		width: 100%;
		text-indent: 10px; /* Put the title a little bit right */
	}
}

#accordion2 .ui-accordion-header {
	margin-bottom: 0.3em; /* spaces between the boxes */
	border-radius: 5px;
	text-decoration: none;
	background-color: #2970DA; /*  0A459E 0A9E75  09946E  2970DA 2188A8  1A8F4E*/
	a {
		color: #fff;
		line-height: 42px; /* How big are the titles */
		display: block;
		font-size: 12pt;
		width: 100%;
		text-indent: 10px; /* Put the title a little bit right */
	}
}

#offerTitle {
	line-height: 0.75em;
}

#orders {
	font-size: 15pt;
	font-weight: 300;
	letter-spacing: 0.025em;
	line-height: 1.75em;
	#title {
		font-weight: 400;
	}
}
.orderTitle {
	font-weight: 400;
}

hr {
		margin: 20px 0 0 0 ;
		border:0;
		border-top:1px solid #D5DAD7;
	}
