%footer#footer
	.row
		.row-content.buffer
			.column.three
				%h3 Kontakt
				%p
					Barbara Schumacher
					%br/
					Hauptstrasse 26
					%br/
					CH-4105 Biel-Benken
					%a{href: "#"} barbara.schumacher@bluewin.ch
				
			.column.three.push-six.last
				.copyright
					Created by Nicolas Mauchle
					%br/
					&copy;Umweltpädagogik All rights reserved.
					
					
	.clear
	%br/
		
