%footer#footer
	.row
		.row-content.buffer
			.column.three
				%h3 Kontakt
				%p
					Barbara Schumacher
					%br/
					Musterstrasse 105
					%br/
					CH-4105 Biel-Benken
				%h5 Mail
				%p
					%a{href: "#"} barbara.schumacher@bluewin.ch
			.column.nine.last
				%h3 Links
				.column.three
					%h5 Medien
					%p
						%a{href: "https://www.youtube.com/watch?v=GLgh9h2ePYw"}The Majestic Plastic Bag - A Mockumentary
						%br/
						Link1
						%br/
						Link2
						%br
						Link3
						%br/
				.column.trhee
					%h5 Freunde
					%p
						This can be long Names for Links
						%br/
						Link1
						%br/
						Link2
						%br
						Link3
						%br/
				.column.three.last
					%h5 Sonstiges
					%p
						This can be long Names for Links
						%br/
						Link1
						%br/
						Link2
						%br
						Link3
						%br/
	.clear
	.copyright
		&copy;Umweltpädagogik All rights reserved.
		%br/
		Created by Nicolas Mauchle
