%footer#footer
	.clear
	#contact
		%h4 Kontakt
		%p
			Barbara Schumacher
			%br/
			Hauptstrasse 26
			%br/
			CH-4105 Biel-Benken
			%br/
			%a{href: "#"} barbara.schumacher@bluewin.ch
	#copyright
		Created by Nicolas Mauchle
		%br/
		&copy;Umweltpädagogik All rights reserved.
.clear

	
