<footer id="footer">
	<div class="row">
		<div class="row-content buffer">
			<div class="column three">
				<h3>Kontakt</h3>
				<p>
					Barbara Schumacher<br />
					Musterstrasse 105<br />
					CH-4105 Biel-Benken
				</p>
				<h5>Mail</h5>
				<p><a href="#">hans.muster@mail.ch</a></p>
			</div>
			<div class="column nine last">
				<h3>Links</h3>
				<div class="column three">
					<h5>Medien</h5>
					<p>
						This can be long Names for Links<br />
						Link 2<br />
						Link 3<br />
						Link 4<br />
					</p>
				</div>
				<div class="column three">
					<h5>Freunde</h5>
					<p>
						This can be long Names for Links<br />
						Link 2<br />
						Link 3<br />
						Link 4<br />
					</p>
				</div>
				<div class="column three last">
					<h5>Sonstige</h5>
					<p>
						This can be long Names for Links<br />
						Link 2<br />
						Link 3<br />
						Link 4<br />
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	<div class="copyright">&copy;Umweltpädagogik All rights reserved.<br />
		Created by Nicolas Mauchle</div>
	</footer>
