<section id="banner">
  <div class="inner">
    <header>
      <a href="index.html">Umweltpädagogik</a>
    </header>
  </div>
</section>

<section id="header">
<nav id="nav">
  <ul>
    <li class="current_page_item"><a href="#">Home</a></li>
    <li><a href="">Angebot</a></li>
    <li><a href="#">Fotos</a></li>
    <li><a href="#">Film</a></li>
    <li><a href="#">Über uns</a></li>
  </ul>
</nav>

</section>