<section id="banner">
  <div class="inner">
    <header>
      <a href="index.html">Umweltpädagogik</a>
    </header>
  </div>
</section>
<nav id="nav">
  <ul>
   <li><a href="index.html">Home</a></li>
   <li><a href="right-sidebar.html">Angebot</a></li>
   <li><a href="left-sidebar.html">Fotos</a></li>
   <li><a href="left-sidebar.html">Videos</a></li>
   <li><a href="left-sidebar.html">Über uns</a></li>
  </ul>
</nav>